<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="widthma, initial-scale=1.0"> -->
    <title>Document</title>
</head>
<body>
thank for login


<form action="/lo" method="get">
    <button>logout</button>
</form>
</body>
</html>