<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>register</h1>
    <form method="post" action="/">
        <input type="text" name="name" id="" placeholder="name">
        <input type="email" name="email" id="" placeholder="email">
        <button>sign</button>
    </form>
    <a href="login">
     <button>login</button>
    </a>
    <h1><%= locals.mass%></h1>
</body>
</html>
